<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334149002484-e88s1k9h5p3koca20ir9nfhfg9p7pf98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334149002484-e88s1k9h5p3koca20ir9nfhfg9p7pf98</string>
	<key>API_KEY</key>
	<string>AIzaSyCy6AgFZr6g5cySyeW_FUj4y13eW6e2ULY</string>
	<key>GCM_SENDER_ID</key>
	<string>334149002484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.poker</string>
	<key>PROJECT_ID</key>
	<string>poker-a81d5</string>
	<key>STORAGE_BUCKET</key>
	<string>poker-a81d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334149002484:ios:4ac64b3f0165dc6b696aa1</string>
</dict>
</plist>